* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Palette colori
    - Rosa: #e53170
    - Blu scuro: #0f0e17
    - Azzurro: #13bae5 */

/* Struttura */
.structure {
    background-color: white;
    max-width: 1170px;
    margin: auto;
}

/* Scritte titolo e paragrafo */
h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #e53170;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

/* Container */
.container {
    margin-left: 40px;
}

/* Layout cards */
.card {
    background-color: #0f0e17;
    width: 350px;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    color: white;
    box-shadow: -5px 5px 5px lightgrey;
}

.info {
    padding: 20px 0;
}

.foto {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.nome {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 3px;
}

.email {
    color: #13bae5;
}

.ruolo, .email {
    font-family: 'Fredoka', sans-serif;
    font-size: small;
    padding: 3px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}