* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Palette colori
    - Rosa: #e53170
    - Blu scuro: #0f0e17
    - Azzurro: #0f0e17 */

.structure {
    background-color: white;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #e53170;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    margin-left: 40px;
}

.card {
    background-color: #0f0e17;
    width: 350px;
    height: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    color: white;
    box-shadow: -5px 5px 5px lightgrey;
}